.image-responsive {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 450px; 
    object-fit: cover; /* Cover to maintain aspect ratio without distortion */
    display: block; /* Prevents extra space below image */
}

@media (max-width: 900px) {
    .image-responsive {
        max-height: 350px; /* Keep the same max height even below 900px */
        height: auto;
    }
    
}
@media (min-width: 901px)and (max-width: 1300px) {
    .image-responsive {
        min-height: 450px; /* Keep the same max height even below 900px */    
        height: auto;
    }
    
}
@media (min-width: 1301px) {
    .image-responsive {
        min-height: 450px;
        max-height: 480px; /* Ensure the image doesn't shrink too much */
      height: auto; /* Maintain aspect ratio */
    }
  }